<template>
  <div>
    <v-layout row wrap v-show="! $store.getters.progressBar">

      <!-- User info -->
      <v-flex xs12 lg6>

        <v-card>

          <v-card-title class="grey lighten-4">
            <v-icon light right>account_circle</v-icon>
            <span class="ml-2 font-size-title">{{ user.name }}</span>
          </v-card-title>

          <v-card-text>

            <v-text-field
              name="user-name"
              label="User name"
              id="user-name"
              prepend-icon="perm_identity"
              v-model="user.name"
            ></v-text-field>

            <v-text-field
              name="user-email"
              label="User email"
              id="user-email"
              prepend-icon="email"
              v-model="user.email"
            ></v-text-field>

            <v-select
              v-show="authUser.role === 'admin'"
              v-bind:items="roles"
              v-model="user.role"
              label="Select Roles"
              prepend-icon="settings"
              item-value="value"
            ></v-select>

            <v-text-field
              name="password"
              label="Enter your password"
              v-model="user.password"
              hint="At least 6 characters"
              prepend-icon="lock"
              :append-icon="!passwordVisible ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (passwordVisible = !passwordVisible)"
              :type="passwordVisible ? 'password' : 'text'"
            ></v-text-field>

            <v-text-field
              name="password"
              label="Confirm your password"
              v-model="user.password_confirmation"
              prepend-icon="lock_outline"
              :type="passwordVisible ? 'password' : 'text'"
            ></v-text-field>

          </v-card-text>

          <v-divider></v-divider>
          <v-card-actions>
            <v-btn dark success @click.native="saveUser">Save</v-btn>
          </v-card-actions>

        </v-card>
      </v-flex>

      <!-- Places -->
      <v-flex xs12 lg6 v-if="userId">
        <areas-table-list :user-id="userId" route-name="userEdit"></areas-table-list>
      </v-flex>

    </v-layout>
  </div>
</template>

<script>
  import {appConfig} from '../../../config/app'

  export default {
    data () {
      return {
        passwordVisible: true,
        roles: [{text: 'Admin', value: 'admin'}, {text: 'Customer', value: 'customer'}],
        user: {}
      }
    },
    computed: {
      authUser () {
        return this.$store.getters.authUser
      },
      userId () {
        return parseInt(this.$route.params.id)
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === 'userEdit') {
          this.getUserDataFromAPI()
        }
      }
    },

    methods: {
      getUserDataFromAPI () {
        if (this.userId) {
          this.$store.dispatch('progressBar', true)

          this.$http.get(appConfig.URL.user + '/' + this.userId).then(response => {
            this.user = response.data.data
            this.$store.dispatch('progressBar', false)
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      },
      saveUser () {
        this.$store.dispatch('progressBar', true)
        // Update user data
        if (this.user.id) {
          this.$http.put(appConfig.URL.user + '/' + this.user.id, this.user).then(response => {
            this.$store.dispatch('alert', {message: response.data.success, type: 'success', timeout: 4000})
            this.$store.dispatch('progressBar', false)
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        // Create new user
        } else {
          this.$http.post(appConfig.URL.user, this.user).then(response => {
            this.$store.dispatch('alert', {message: response.data.success, type: 'success', timeout: 4000})
            this.$store.dispatch('progressBar', false)
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      }
    },

    mounted () {
      this.getUserDataFromAPI()
    }
  }
</script>
