<template>
  <div>

    <v-tabs id="places-tabs" class="mt-2" grow scroll-bars dark icons v-show="!$store.getters.progressBar">
      <v-tabs-bar class="light-green">
        <v-tabs-slider class="blue lighten-2"></v-tabs-slider>

        <v-tabs-item :href="'#aria-information-tab'" ripple>
          Area Information
          <v-icon>info</v-icon>
        </v-tabs-item>

        <v-tabs-item :href="'#area-device-tab'" :disable="!this.areaId" v-if="this.areaId">
          Register Devices
          <v-icon>devices</v-icon>
        </v-tabs-item>
        
        <v-tabs-item :href="'#area-automation-tab'" :disable="!this.areaId" v-if="this.areaId">
          Area Automation
          <v-icon>play_circle_filled</v-icon>
        </v-tabs-item>
      </v-tabs-bar>

      <v-tabs-items>
        <!-- AREA INFORMATION TAB -->
        <v-tabs-content :id="'aria-information-tab'" class="pb-5">
          <v-layout row wrap class="pt-3">

            <!-- DEVICE WRAPPER -->
            <v-flex xs12 lg6>
              <aria-info></aria-info>
            </v-flex>
          </v-layout>
        </v-tabs-content>


        <!-- AREA DEVICE TAB -->
        <v-tabs-content :id="'area-device-tab'" v-if="areaId">

          <v-layout row wrap class="pt-3">
            <v-flex xs12 lg12>
              <v-card>

                <v-tabs id="device-type-tabs" class="mt-2" grow scroll-bars light icons>
                  <v-tabs-bar class="light-green">
                    <v-tabs-slider class="blue lighten-2"></v-tabs-slider>

                    <v-tabs-item :href="'#device-type-publisher'">
                      Publishers
                      <v-icon>devices</v-icon>
                    </v-tabs-item>

                    <v-tabs-item :href="'#device-type-worker'">
                      Workers
                      <v-icon>devices</v-icon>
                    </v-tabs-item>

                    <v-tabs-item :href="'#device-group'">
                      Device Group
                      <v-icon>group</v-icon>
                    </v-tabs-item>
                  </v-tabs-bar>

                  <v-tabs-items>
                    <!-- PUBLISHER DEVICE LIST -->
                    <v-tabs-content :id="'device-type-publisher'" class="pb-5">
                      <aria-device-publisher-table-list :area-id="areaId" route-name="areaEdit"></aria-device-publisher-table-list>
                    </v-tabs-content>

                    <!-- WORKER DEVICE LIST -->
                    <v-tabs-content :id="'device-type-worker'" class="pb-5">
                      <aria-device-worker-table-list :area-id="areaId" route-name="areaEdit"></aria-device-worker-table-list>
                    </v-tabs-content>

                    <!-- DEVICE GROUP -->
                    <v-tabs-content :id="'device-group'" class="pb-5">
                      <aria-groups-table-list :area-id="areaId" route-name="areaEdit"></aria-groups-table-list>
                    </v-tabs-content>

                  </v-tabs-items>

                </v-tabs>
              </v-card>
            </v-flex>

          </v-layout>
        </v-tabs-content>

        <!-- AREA AUTOMATION TAB -->
        <v-tabs-content :id="'area-automation-tab'" class="pb-5">
          <v-layout row wrap class="pt-3">

            <!-- DEVICE WRAPPER -->
            <v-flex xs12>
              <aria-config-device-action-table-list :area-id="areaId" route-name="areaEdit"></aria-config-device-action-table-list>
            </v-flex>
          </v-layout>
        </v-tabs-content>

      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    },
    computed: {
      areaId: function () {
        return parseInt(this.$route.params.id)
      },
      userId: function () {
        return this.$route.params.userId
      }
    }
  }
</script>
