<template xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div>
	  <section>
		  <v-parallax src="/static/image/home_parallax_background.jpeg" height="600">
			  <v-layout
					  column
					  align-center
					  justify-center
					  class="white--text"
			  >
				  <img src="/static/image/logo500px.png" alt="H2M" height="400">
			  </v-layout>
		  </v-parallax>
	  </section>

	  <section>
		  <v-layout
				  column
				  wrap
				  class="my-5"
				  align-center
		  >
			  <v-flex xs12>
				  <v-container grid-list-xl>
					  <v-layout row wrap align-justify>
						  <v-flex xs12 md4>
							  <v-card>
								  <v-card-text class="text-xs-center">
									  <v-icon x-large class="blue--text text--lighten-2">business</v-icon>
								  </v-card-text>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">O Nama</div>
								  </v-card-title>
								  <v-card-text>
									  <p style="text-align: justify;">H2M Green Grow Solution d.o.o. je preduzeće osnovano 2018 godine u Banja Luci.
									  Preduzeće se bavi proizvodnjom biljaka za ishranu ljudi u visoko standardizivoanim, automatizovanim
									  i zaštićenim prostorima na hidroponskim sistemima.
									  Taođe u našem asortimanu možete pronaći i sve elektronske komponente potrebne za automatizaciju
									  zatvorenih prostroa kao i automatizaciju
									  pojedinačnih i grupnih...
									  <v-btn flat class="green--text darken-1" @click.native.stop="aboutAsDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
										  v-model="aboutAsDialog"
										  width="400"
										  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">O Nama?</v-card-title>
											  <v-card-text>
												  <p style="text-align: justify;">H2M Green Grow Solution d.o.o. je preduzeće osnovano 2018 godine u Banja Luci.
												  Preduzeće se bavi proizvodnjom biljaka za ishranu ljudi u visoko standardizivoanim, automatizovanim
												  i zaštićenim prostorima na hidroponskim sistemima.
												  Taođe u našem asortimanu možete pronaći i sve elektronske komponente potrebne za automatizaciju
												  zatvorenih prostroa kao i automatizaciju
												  pojedinačnih i grupnih procesa proizvodnje te kompletnu softversku podršku za navedene proizvode.
												  Sa ponosom donosimo domaći proizvod svjetskog
												  kvaliteta koji svoju glavnu konkurentnost na domaćem ali i stranom tržištu pronalazi u cjenovnoj
												  pristupačnosti. Paleta proizvoda se kreće od
												  onih namjenjih amaterskoj proizvodnji do velikih profesionalnih pogona.
												  </p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="aboutAsDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md4>
							  <v-card>
								  <v-card-text class="text-xs-center">
									  <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
								  </v-card-text>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline">Prednost NFT-a</div>
								  </v-card-title>
								  <v-card-text>
									  <p style="text-align: justify;">
										  Vrijeme u kojem se nalazimo, karakteriše sve brži rast velikih ekonomskih sila,
									  pa samim tim i sve veći broj ljudi na planeti Zemlji,
									  što dovodi do potrebe povećane proizvodnje hrane.
									  Takođe naša planeta se odlikuje sve većim klimatskim promjenama,
									  koje sve izvjesnije konvencionalne metode proizvodnje hrane na otvorenim i polu zatvorenim prostorima stavlja u potpuno bezizlaznu situaciju.
									  Upravo...
									  <v-btn flat class="green--text darken-1" @click.native.stop="nftDialog = true">Opširnije</v-btn>
									  </p>

									  <v-dialog
											  v-model="nftDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Prednost NFT-a</v-card-title>
											  <v-card-text>
												  <p style="text-align: justify;">Vrijeme u kojem se nalazimo, karakteriše sve brži rast velikih ekonomskih sila,
												  pa samim tim i sve veći broj ljudi na planeti Zemlji,
												  što dovodi do potrebe povećane proizvodnje hrane.
												  Takođe naša planeta se odlikuje sve većim klimatskim promjenama,
												  koje sve izvjesnije konvencionalne metode proizvodnje hrane na otvorenim i polu zatvorenim prostorima stavlja u potpuno bezizlaznu situaciju.
												  Upravo zbog svega gore navedenog, uzgoj hrane u visoko sofisticiranim zaštićenim prostorima postaje...
												  neophodna realnost za svaku ozbiljnu sredinu koja se brine o budućnosti svojih građana. Uzgoj biljaka u NFT kanalima donosi mnoge prednosti, neke od njih su:
												  Ne koristi se zemlja te je pojava bolesti svedena na minimum;
												  U potpunosti je izuzeta upotreba pesticida. Proizvodi proizvedeni na ovaj način mnogo su zdraviji nego u slučaju konvencionalne proizvodnje na zemljištu;
												  U NFT sistemima je voda sa rastvorenim organskim hranivima u konstantnom kružnom kretanju kroz sitem. To doprinosi smanjenju količine vode koja je potrebna za proizvodnju. Hranljive materije se recikliracju i nema njihovog gubitka i/ili Ispiranja u druge slojeve zemljišta kao što je slučaj kod konvencionalnih metoda.
												  U NFT sistemima nema ni jednog vida zagađivanja zemljišta i vazduha;
												  Za proizvodnju povrća, začinskog, medicinskog i ukrasng bilja u NFT sistemu potrebno je mnogo manje radne snage te se troši manja količina energije za rad;
												  U NFT sistemima veoma je lako kontrolistai snabdjevenost biljaka hranjivim materijama i dozirazi ih prema specificnim potrebama gajenih sorti;
												  Biljke uzgajane u ovom sistemu razvijaju se mnogo brže nego u zemljištu i tokom jedne godine moguće je ostvariti tri berbe više nego kod tradicionalne poljoprivredne proizvodnje.
												  </p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="nftDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md4>
							  <v-card>
								  <v-card-text class="text-xs-center">
									  <v-icon x-large class="blue--text text--lighten-2">contact_phone</v-icon>
								  </v-card-text>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Kontakt</div>
								  </v-card-title>
								  <v-card-text>
									  <v-list class="transparent">
										  <v-list-tile>
											  <v-list-tile-action>
												  <v-icon class="blue--text text--lighten-2">phone</v-icon>
											  </v-list-tile-action>
											  <v-list-tile-content>
												  <v-list-tile-title>+387 65 358 656 (Marko)</v-list-tile-title>
											  </v-list-tile-content>
										  </v-list-tile>
										  <v-list-tile>
											  <v-list-tile-action>
												  <v-icon class="blue--text text--lighten-2">phone</v-icon>
											  </v-list-tile-action>
											  <v-list-tile-content>
												  <v-list-tile-title>+387 65 974 475 (Aleksandar)</v-list-tile-title>
											  </v-list-tile-content>
										  </v-list-tile>
										  <v-list-tile>
											  <v-list-tile-action>
												  <v-icon class="blue--text text--lighten-2">place</v-icon>
											  </v-list-tile-action>
											  <v-list-tile-content>
												  <v-list-tile-title>Stevana Bulajića, </v-list-tile-title>
											  </v-list-tile-content>
										  </v-list-tile>
										  <v-list-tile>
											  <v-list-tile-action>
												  <v-icon class="blue--text text--lighten-2">map</v-icon>
											  </v-list-tile-action>
											  <v-list-tile-content>
												  <v-list-tile-title>Banja Luka, Bosna i Hercegovina</v-list-tile-title>
											  </v-list-tile-content>
										  </v-list-tile>
										  <v-list-tile>
											  <v-list-tile-action>
												  <v-icon class="blue--text text--lighten-2">email</v-icon>
											  </v-list-tile-action>
											  <v-list-tile-content>
												  <v-list-tile-title>info@h2m-solution.com</v-list-tile-title>
											  </v-list-tile-content>
										  </v-list-tile>
									  </v-list>
								  </v-card-text>
							  </v-card>
						  </v-flex>
					  </v-layout>
				  </v-container>
			  </v-flex>
		  </v-layout>
	  </section>

	  <!-- Proizvodi -->
	  <section>
		  <v-parallax src="/static/image/mikro-zelenilo.jpg" height="500">
			  <v-layout
					  column
					  align-center
					  justify-center
					  class="white--text"
			  >
				  <h1 class="white--text"><strong>Proizvodi</strong></h1>
			  </v-layout>
		  </v-parallax>
	  </section>

	  <section>
		  <v-layout
				  column
				  wrap
				  class="my-5"
				  align-center
		  >
			  <v-flex xs12>
				  <v-container grid-list-xl>
					  <v-layout row wrap align-center>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Grašak</div>
								  </v-card-title>
								  <v-card-media src="/static/image/grasak.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Grašak je bogat vitaminom C i E pa se preporuča konzumacija graška u našoj prehrani.
									  Također sadrži i vitamin B1 (tiamin), vitamin B2 (riboflavin), niacin, vitamin E i...
									  <v-btn flat class="green--text darken-1" @click.native.stop="grasakDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="grasakDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Grasak</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Osim što ima bogate nutritivne sastojke važno je napomenuti da je grašak bogat izvor energije odnosno otprilike 100g graška sadrži oko 80 kcal,
												  napominje nutricionistkinja Jakšić. Osim značajne energetske vrijednosti grašak je bogat izvor ugljikohidrata i vlakana (galaktana), glukoze, glukuronske kiseline, fruktoze, proteine, masti i lecitina.
												  Grašak je bogat vitaminom C i E pa se preporuča konzumacija graška u našoj prehrani.
												  Također sadrži i vitamin B1 (tiamin), vitamin B2 (riboflavin), niacin, vitamin E i vitamin A u tragovima, magnezij i mangan.
												  Kao odličan izvor vlakana pomaže kod održavanja, očuvanja probavnog sustava te poboljšanja probave.
												  Ova namirnica bogat je izvor željeza što znači da djeluje povoljno na naš imunološki sustav.
												  "Pojačava naš imunitet, djeluje na umor i bezvoljnost, a budući da sadrži željezo poboljšava uspješniju izgradnju stanica u krvi.
												  Grašak je bogat vitaminom K pa možemo zaključiti da je važan za srčano-krvožilni sustav, očuvanje i zdravlje kostiju.
												  „Sprečava“ osteoporozu, a pridonosi aterosklerozi.
												  </p>
												  <p>Cijena: <strong>3.40 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="grasakDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Rotkvica</div>
								  </v-card-title>
								  <v-card-media src="/static/image/kineska_rotkvica.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Svima poznata rotkvica, je drevna i cijenjena kultura koja se uzgaja već više od
									  3000 godina. Uzgajali su je Kinezi, stari Rimljani, Grci i Egipćani. Rotkvica je u pripremi...
									  <v-btn flat class="green--text darken-1" @click.native.stop="rotkvicaDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="rotkvicaDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Rotkvica</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Svima poznata rotkvica, je drevna i cijenjena kultura koja se uzgaja već više od
												  3000 godina. Uzgajali su je Kinezi, stari Rimljani, Grci i Egipćani. Rotkvica je danas jedna
												  od najpopularnijih vrsta povrća na svijetu. Zbog specifičnog ljutkastog okusa i svježine
												  popularna je u pripremi različit salata te kao prilog i ukras. Kao mikrozelenilo u fazi
												  kotiledona posjeduje mnogostruko više mikronutrijenata od odrasle biljke. Posebno je
													  poznata kao dobar izvor bakra i mangana.</p>
												  <p>Cijena: <strong>3.20 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="rotkvicaDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Slačica/Senf</div>
								  </v-card-title>
								  <v-card-media src="/static/image/senf.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Slačica je jednogodišnja biljka iz porodice kupusa. Raste divlja i kultivisana od Azije
									  do Amerike. Boagata je vlaknima, vitaminima, vitaminima i antioksida...
									  <v-btn flat class="green--text darken-1" @click.native.stop="senfDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="senfDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Slačica/Senf</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Slačica je jednogodišnja biljka iz porodice kupusa. Raste divlja i kultivisana od Azije
												  do Amerike. Boagata je vlaknima, vitaminima i antioksidansima a posebno vitaminom K,
												  važnim u izgradnji kostiju. Blago pikantna, ukusom podsjeća na hren. Daje paprenost
													  supama i salatama, a tradicionalno se kombinuje uz svinjetinu i šunku.</p>
												  <p>Cijena: <strong>3.00 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="senfDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Rukola</div>
								  </v-card-title>
								  <v-card-media src="/static/image/rukola.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Rukola ili rocket salata je jednogošnja ili dvogodišnja zeljasta biljka. Kao i ostale
									  zeljaste biljke, puna je važnih mikronutrienata kao što su vitamini A, C...
									  <v-btn flat class="green--text darken-1" @click.native.stop="rukolaDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="rukolaDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Rukola</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Rukola ili rocket salata je jednogošnja ili dvogodišnja zeljasta biljka. Kao i ostale
												  zeljaste biljke, puna je važnih mikronutrienata kao što su vitamini A, C, K, B2, te fosfor,
												  magnezijum a posbno kalijum i kalcijum. Ima stimulativno djelovanje na ljudski organizam,
												  naročito na želudac i crijeva. Zbog oštrog i paprenog ukusa poznata je kao jedna od
												  najpopularnijih salatnih biljaka širom svijeta. Odlično ide i u razna kuvana jela, pečenja i
													  pice.</p>
												  <p>Cijena: <strong>2.80 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="rukolaDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
					  </v-layout>
				  </v-container>
			  </v-flex>
		  </v-layout>
	  </section>

	  <section>
		  <v-layout
				  column
				  wrap
				  class="my-5"
				  align-center
		  >
			  <v-flex xs12>
				  <v-container grid-list-xl>
					  <v-layout row wrap align-center>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Crveni Kupus</div>
								  </v-card-title>
								  <v-card-media src="/static/image/crveni_kupus.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Crveni kupus je jedna od najpopularnijih biljaka uzgojenih za konzumaciju u sirovom
									  stanju. Sadrži više vitamina C...
									  <v-btn flat class="green--text darken-1" @click.native.stop="crveniKupusDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="crveniKupusDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Crveni Kupus</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Crveni kupus je jedna od najpopularnijih biljaka uzgojenih za konzumaciju u sirovom
												  stanju. Sadrži više vitamina C od narandži, a čak duplo više od bijelog kupusa. Zbog
												  višestrukog pozitivnog dejstva na imuni sistem te na prevenciju raznih oboljenja
												  preporučuje se svima. Svojim blagim slatkasim okusom, te intenzivnom crveno-ljubičastom
												  bojom obogaćuje svako jelo.
												  <p>Cijena: <strong>3.50 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="crveniKupusDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Pšenica</div>
								  </v-card-title>
								  <v-card-media src="/static/image/psenica.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Najpoznatija žitarica na svijetu. Konzumirana kao mlada travka
										  sadrži mnogostruko više nutritivnih vrijednosti od...
									  <v-btn flat class="green--text darken-1" @click.native.stop="psenicaDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="psenicaDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Pšenica</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Najpoznatija žitarica na svijetu. Konzumirana kao mlada travka sadrži mnogostruko
													  više nutritivnih vrijednosti od odrasle biljke i sjemena a sve to bez glutena. Najznačajniji
													  nutrijent mlade pšenice je hlorofil, moćan antioksidans i prirodni pročišćivač jetre.
													  Povećava alkalnost u tijelu, poboljšava absorpciju nutrijenata i smanjuje slobodne radikale
													  u krvi. Blagog i slatkastog okusa doprinosi jelima kao ukras ili sastojak. Može se koristiti
													  svježa ili izblendana.</p>
												  <p>Cijena: <strong>2.80 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="psenicaDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Kres salata</div>
								  </v-card-title>
								  <v-card-media src="/static/image/kress.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Kres salata je jednogodišnja, samonikla biljka koja raste uz rijeke,
									  puteve i na ostalim ruderalnim staništima...
									  <v-btn flat class="green--text darken-1" @click.native.stop="kresssDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="kresssDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Kres salata</v-card-title>
											  <v-card-text>
												  <p style="text-align: justify;">Kres salata je jednogodišnja, samonikla biljka koja raste uz rijeke,
												  puteve i na ostalim ruderalnim staništima. Bogat je izvor kalijuma i kalcijuma,
												  te vitamina C i beta karotena. Ima oštar i pikantan ukus,
												  otvara apetit i sadrži materije sa antibiotskim djelovanjem.
												  Odlično se uklapa u salate i sendviče te u kuhana jela, supe i pečenja.
												  Slaže se sa krastavcima, paradajzom i kozijim sirom, te sa pečenim mesom,
													  krompirima i pečurkma.</p>
												  <p>Cijena: <strong>2.80 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="kresssDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
						  <v-flex xs12 md3>
							  <v-card>
								  <v-card-title primary-title class="layout justify-center">
									  <div class="headline text-xs-center">Suncokret</div>
								  </v-card-title>
								  <v-card-media src="/static/image/suncokret.jpg" height="200px"></v-card-media>
								  <v-card-text>
									  <p  style="text-align: justify;">Suncokret je jednogodišnja biljka porijeklom iz Južne Amerike.
									  Najprije je uzgajan kao ukrasna biljka, a danas je jedna od...
									  <v-btn flat class="green--text darken-1" @click.native.stop="suncokretDialog = true">Opširnije</v-btn>
									  </p>
									  <v-dialog
											  v-model="suncokretDialog"
											  width="400"
											  :full-screen="$vuetify.breakpoint.xsOnly"
									  >
										  <v-card>
											  <v-card-title class="headline">Suncokret</v-card-title>
											  <v-card-text>
												  <p  style="text-align: justify;">Suncokret je jednogodišnja biljka porijeklom iz Južne Amerike.
												  Najprije je uzgajan kao ukrasna biljka, a danas je jedna od najčešćih industrijskih biljaka.
												  Sjeme suncokreta sadrži oko 50% ulja, 20% bjelančevina i ugljikohidrata.
												  Suncokret je jedan od najpopularnijih mikro usjeva. Hrskave i zeljaste teksture te
												  blagog orašastog okusa savršeno se uklapa u sve vrste sendviča, supa, salata i omleta,
													  kao prilog ili ukras uz glavna jela ili zblendan u smutije i šejkove.</p>
												  <p>Cijena: <strong>3.40 KM</strong></p>
											  </v-card-text>
											  <v-card-actions>
												  <v-spacer></v-spacer>
												  <v-btn class="green--text darken-1" flat="flat" @click.native="suncokretDialog = false">Zatvori</v-btn>
											  </v-card-actions>
										  </v-card>
									  </v-dialog>
								  </v-card-text>
							  </v-card>
						  </v-flex>
					  </v-layout>
				  </v-container>
			  </v-flex>
		  </v-layout>
	  </section>
  </div>
</template>


<script>
    /* eslint-disable indent */

    import VCardTitle from 'vuetify/src/components/VCard/VCardTitle'

    export default {
      components: {VCardTitle},
      data () {
        return {
          show: false,
          aboutAsDialog: false,
          nftDialog: false,
          grasakDialog: false,
          rotkvicaDialog: false,
          senfDialog: false,
          rukolaDialog: false,
          crveniKupusDialog: false,
          psenicaDialog: false,
          kresssDialog: false,
          suncokretDialog: false
        }
      }
    }
</script>

