<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4>
        <v-select
                label="Repeat"
                v-model="repeatInt"
                :items="[
            {text: 'No repeat', value: 'no-repeat'},
            {text: 'Every day', value: 'every-day'},
            {text: 'Every week', value: 'every-week'},
            {text: 'Every Month', value: 'every-month'}
          ]"
        ></v-select>
      </v-flex>

      <v-flex xs12 sm6 md3>
        <v-menu
                lazy
                :close-on-content-click="false"
                v-model="datePicker"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-left="40"
                max-width="290px"
        >
          <v-text-field
                  required
                  slot="activator"
                  label="Date"
                  v-model="dateInt"
                  prepend-icon="event"
                  readonly
          ></v-text-field>
          <v-date-picker v-model="dateInt" no-title scrollable actions>
            <template scope="{ save, cancel }">
              <v-card-actions>
                <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                <v-btn flat primary @click.native="save()">Save</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-menu>
      </v-flex>

      <v-flex xs12 sm6 md4>
        <v-menu
                lazy
                :close-on-content-click="false"
                v-model="timePicker"
                transition="scale-transition"
                offset-y
                :nudge-left="20"
        >
          <v-text-field
                  required
                  slot="activator"
                  label="Time"
                  v-model="timeInt"
                  prepend-icon="access_time"
                  readonly
          ></v-text-field>
          <v-time-picker v-model="timeInt" autosave></v-time-picker>
        </v-menu>
      </v-flex>

    </v-layout>
  </div>
</template>

<script>
  export default {
    props: {
      date: {
        default: null
      },
      time: {
        default: null
      },
      repeat: {
        default: null
      }
    },

    data () {
      return {
        repeatInt: this.repeat,
        dateInt: this.date,
        timeInt: this.time,
        datePicker: false,
        timePicker: false
      }
    },
    watch: {
      date: function (newValue) {
        this.dateInt = newValue
      },
      dateInt: function (newValue) {
        this.$emit('update:date', newValue)
      },

      time: function (newValue) {
        this.timeInt = newValue
      },
      timeInt: function (newValue) {
        this.$emit('update:time', newValue)
      },

      repeat: function (newValue) {
        this.repeatInt = newValue
      },
      repeatInt: function (newValue) {
        this.$emit('update:repeat', newValue)
      }
    },

    mounted () {}
  }
</script>
