<template>
  <div>
    <v-card v-on:keyup.enter="saveArea">
      <v-card-title class="grey lighten-4">
        <v-icon>devices</v-icon>
        <span class="ml-2 font-size-title">Area: "{{ area.name }}"</span>
      </v-card-title>

      <v-card-text>
        <v-layout row wrap>

          <v-flex xs12>
            <v-text-field
                    name="area-name"
                    label="Area name"
                    id="area-name"
                    prepend-icon="local_offer"
                    v-model="area.name"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-select
                    v-bind:items="timeZones"
                    v-model="area.additional_data['time_zone']"
                    label="Select Time Zone"
                    autocomplete
                    prepend-icon="map"
            ></v-select>
          </v-flex>

        </v-layout>
      </v-card-text>

      <v-card-actions>
        <v-btn success @click.native="saveArea">Save</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import {appConfig} from '../../../../config/app'
  import router from '../../../router/index'
  import moment from 'moment'

  export default {
    data () {
      return {
      }
    },
    computed: {
      area: function () {
        return this.$store.getters.getArea
      },
      timeZones: function () {
        return moment.tz.names()
      }
    },
    methods: {
      getAreaDataFromAPI () {
        if (this.areaId) {
          this.$store.dispatch('progressBar', true)

          this.$http.get(appConfig.URL.area + '/' + this.areaId).then(response => {
            this.area = response.data
            this.$store.dispatch('progressBar', false)
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      },
      saveArea () {
        this.$store.dispatch('progressBar', true)
        // Update area data

        if (this.area.id) {
          this.$http.put(appConfig.URL.area + '/' + this.area.id, this.area).then(response => {
            this.$store.dispatch('alert', {message: response.data.success, type: 'success', timeout: 4000})
            this.$store.dispatch('progressBar', false)
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        // Create new area
        } else {
          this.$http.post(appConfig.URL.area + '/' + this.userId, this.area).then(response => {
            this.$store.dispatch('alert', {message: response.data.success, type: 'success', timeout: 4000})
            this.$store.dispatch('progressBar', false)

            router.push({name: 'userEdit', params: {id: this.userId}})
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.getAreaDataFromAPI()
      })
    }
  }
</script>
