<template>
  <div>
    <v-card>
      <v-card-title class="grey lighten-4">
        <v-icon>groups</v-icon>
        <span class="font-size-title">Area Device Groups</span>
      </v-card-title>
      <v-card-text>

        <v-card-title>
          <v-dialog v-model="dialog" persistent width="50%" :full-screen="$vuetify.breakpoint.xsOnly">
            <v-btn slot="activator" class="white--text light-green darken-2" @click.native="newItem">
              Add new Group
            </v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Area Group</span>
              </v-card-title>
              <v-card-text>

                <v-flex v-show="dialogLoading" xs4 offset-xs4 justify-center="true" class="text-xs-center">
                  <v-progress-circular indeterminate v-bind:size="70" v-bind:width="7" class="green--text"></v-progress-circular>
                </v-flex>

                <v-container grid-list-md v-show="!dialogLoading">
                  <v-layout wrap>
                    <v-flex xs12 sm6 md4>
                      <v-text-field label="Group Name" required v-model="item.name"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6 md4>
                      <v-select
                              required
                              label="Select Device Type"
                              v-model="item.device_type"
                              item-value="value"
                              :items="[
                          {text: 'Publisher', value: 'publisher'},
                          {text: 'Worker', value: 'worker'}
                        ]"
                      ></v-select>
                    </v-flex>

                    <v-flex xs12 sm6 md4>
                      <v-select
                        required
                        label="Select Data Type"
                        v-model="item.data_type"
                        item-value="value"
                        :items="[
                          {text: 'Integer', value: 'integer'},
                          {text: 'Float', value: 'float'},
                          {text: 'Boolean', value: 'boolean'}
                        ]"
                      ></v-select>
                    </v-flex>

                    <v-flex xs12>
                      <v-select
                              label="Select"
                              v-bind:items="devices"
                              v-model="selectDevices"
                              multiple
                              chips
                              hint="What are the target regions"
                              persistent-hint
                      ></v-select>
                    </v-flex>

                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn class="blue--text darken-1" flat @click.native="saveItem">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-spacer></v-spacer>

          <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
          ></v-text-field>
        </v-card-title>

        <v-data-table
                v-bind:headers="headers"
                v-bind:items="items"
                v-bind:pagination.sync="pagination"
                :total-items="totalItems"
                :loading="loading"
                class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>

          <template slot="items" scope="props">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.device_type }}</td>
            <td class="text-xs-left">{{ props.item.data_type }}</td>
            <td class="text-xs-left">
              <v-btn small icon class="white--text light-green darken-2" @click.native="editItem(props.item.id)" v-tooltip:top="{ html: 'Edit' }">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small icon @click.native="deleteItem(props.item.id)" class="white--text light-green darken-2" v-tooltip:top="{ html: 'Delete' }">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>

      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import _ from 'lodash'
  import {appConfig} from '../../../../config/app'

  export default {
    props: {
      areaId: {
        type: Number,
        required: true
      },
      routeName: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        search: null,
        dialog: false,
        dialogLoading: false,
        loading: true,
        totalItems: 0,
        pagination: {rowsPerPage: 25, search: ''},
        headers: [
          { text: 'Name', value: 'name', align: 'left' },
          { text: 'Device Type', value: 'device_type', align: 'left' },
          { text: 'Data Type', value: 'data_type', align: 'left' },
          { text: 'Actions', value: 'actions', align: 'left', sortable: false }
        ],
        item: {},
        selectDevices: [],
        devices: []
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === this.routeName) {
          this.fetchItems()
        }
      },
      pagination: {
        handler (newVal, oldVal) {
          if (oldVal.totalItems || oldVal.totalItems <= 0) {
            this.loading = true
            this.fetchItems()
          }
        },
        deep: true
      },
      search: _.debounce(function (newVal) {
        this.fetchItems(newVal)
      }, 400),
      item: {
        handler: function (newVal, oldVal) {
          if (newVal.data_type && newVal.device_type) {
            this.fetchDevices()
          }
        },
        deep: true
      }
    },
    computed: {
      items: function () {
        this.loading = false
        this.totalItems = this.$store.getters.deviceGroupsCollection.meta ? this.$store.getters.deviceGroupsCollection.meta.total : 0

        return this.$store.getters.deviceGroupsCollection.data ? this.$store.getters.deviceGroupsCollection.data : []
      }
    },
    methods: {
      fetchItems (search) {
        this.loading = true
        const getParams = '?' + (this.pagination.sortBy ? '&sortBy=' + this.pagination.sortBy : '') + (this.pagination.descending ? '&descending=' + this.pagination.descending : '') + '&page=' + this.pagination.page + '&limit=' + this.pagination.rowsPerPage + (search ? '&search=' + search : '')

        this.$store.dispatch('fetchDeviceGroupsCollection', {areaId: this.areaId, getParams: getParams})
      },
      newItem () {
        this.item = {}
        this.selectDevices = []
      },
      editItem (itemId) {
        this.dialog = true

        if (this.item.id !== itemId) {
          this.dialogLoading = true
          const url = appConfig.URL.deviceGroup + '/' + itemId + '/edit'

          this.$http.get(url).then(response => {
            this.dialogLoading = false
            this.item = response.data.data
            this.selectDevices = this.item.devices.map(elem => {
              return elem.id
            })
          })
        }
      },
      saveItem () {
        let url = ''
        this.dialogLoading = true

        let data = this.item
        data['devices'] = this.selectDevices

        if (this.item.id) {
          url = appConfig.URL.deviceGroup + '/' + this.item.id

          this.$http.put(url, data).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        } else {
          url = appConfig.URL.areaDeviceGroup + '/' + this.areaId

          this.$http.post(url, data).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        }
      },
      deleteItem (deviceGroupId) {
        if (confirm('Do you want delete') === true) {
          const url = appConfig.URL.deviceGroup + '/' + deviceGroupId
          this.loading = true

          this.$http.delete(url, this.item).then(() => {
            this.fetchItems(this.search)
          }, () => {
            this.loading = false
          })
        }
      },
      fetchDevices () {
        const url = appConfig.URL.areaDevice + '/' + this.item.device_type + '/' + this.areaId + '?limit=100'
        this.loadingSearchDevice = true

        this.$http.get(url).then(response => {
          this.devices = response.data.data.map(elem => {
            return {text: elem.name, value: elem.id}
          })

          this.loadingSearchDevice = false
        })
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.fetchItems()
      })
    }
  }
</script>
