<template>
  <div>
    <v-card>
      <v-card-title class="grey lighten-4">
        <v-icon>devices</v-icon>
        <span class="ml-2 font-size-title">Publisher Devices</span>
      </v-card-title>
      <v-card-text>

        <v-card-title>
          <v-dialog v-model="dialog" persistent width="50%" :full-screen="$vuetify.breakpoint.xsOnly">
            <v-btn slot="activator" class="white--text light-green darken-2" @click.native="newItem">
              Add new Device
            </v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Worker Devices</span>
              </v-card-title>
              <v-card-text>

                <v-flex v-show="dialogLoading" xs4 offset-xs4 justify-center="true" class="text-xs-center">
                  <v-progress-circular indeterminate v-bind:size="70" v-bind:width="7" class="green--text"></v-progress-circular>
                </v-flex>

                <v-container grid-list-md v-show="!dialogLoading">
                  <v-layout wrap>
                    <v-flex xs12 sm6 md4>
                      <v-text-field label="Group Name" required v-model="item.name"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-select
                              required
                              label="Select Device Type"
                              v-model="item.device_type"
                              item-value="value"
                              :items="[
                          {text: 'Publisher', value: 'publisher'},
                          {text: 'Worker', value: 'worker'}
                        ]"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-select
                        required
                        label="Select Data Type"
                        v-model="item.data_type"
                        item-value="value"
                        :items="[
                          {text: 'Integer', value: 'integer'},
                          {text: 'Float', value: 'float'},
                          {text: 'Boolean', value: 'boolean'}
                        ]"
                      ></v-select>
                    </v-flex>
                  </v-layout>

                  <v-layout wrap>
                    <v-flex xs12>
                      <v-select
                              v-bind:items="icons"
                              v-model="item.icon"
                              label="Select icon"
                              item-text="value"
                              item-value="value"
                              autocomplete
                              chips
                              prepend-icon="insert_photo"
                      >
                        <template slot="selection" scope="data">
                          <v-chip
                                  @input="data.parent.selectItem(data.item)"
                                  @click.native.stop
                                  class=""
                          >
                            <v-avatar>
                              <v-icon light>{{ data.item.value }}</v-icon>
                            </v-avatar>
                            {{ data.item.value | humanable }}
                          </v-chip>
                        </template>

                        <template slot="item" scope="data">
                          <v-list-tile-avatar>
                            <v-icon>{{ data.item.value }}</v-icon>
                          </v-list-tile-avatar>
                          <v-list-tile-content>
                            <v-list-tile-title>{{ data.item.value | humanable }}</v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </v-select>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn class="blue--text darken-1" flat @click.native="saveItem">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-spacer></v-spacer>

          <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
          ></v-text-field>
        </v-card-title>

        <v-data-table
                v-bind:headers="headers"
                v-bind:items="items"
                v-bind:pagination.sync="pagination"
                :total-items="totalItems"
                :loading="loading"
                class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>

          <template slot="items" scope="props">
            <td class="text-xs-left">{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.token }}</td>
            <td class="text-xs-left">
              <v-btn small icon class="white--text light-green darken-2" @click.native="editItem(props.item.id)" v-tooltip:top="{ html: 'Edit' }">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small icon @click.native="deleteItem(props.item.id)" class="white--text light-green darken-2" v-tooltip:top="{ html: 'Delete' }">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>

      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import _ from 'lodash'
  import {appConfig} from '../../../../config/app'
  import {materializeIconList} from '../../../lib/materialize_icon_list'
  import {humanable} from '../../../lib/filters'

  export default {
    filters: {
      humanable: humanable
    },
    props: {
      areaId: {
        type: Number,
        required: true
      },
      routeName: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        search: null,
        dialog: false,
        dialogLoading: false,
        loading: true,
        totalItems: 0,
        pagination: {rowsPerPage: 25, search: ''},
        headers: [
          {text: 'ID', align: 'left', value: 'id'},
          {text: 'Name', align: 'left', value: 'name'},
          {text: 'API Key', align: 'left', value: 'token'},
          { text: 'Actions', align: 'left', value: 'actions', sortable: false }
        ],
        item: {},
        icons: materializeIconList
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === this.routeName) {
          this.fetchItems()
        }
      },
      pagination: {
        handler (newVal, oldVal) {
          if (oldVal.totalItems || oldVal.totalItems <= 0) {
            this.loading = true
            this.fetchItems()
          }
        },
        deep: true
      },
      search: _.debounce(function (newVal) {
        this.fetchItems(newVal)
      }, 400)
    },
    computed: {
      items: function () {
        this.loading = false
        this.totalItems = this.$store.getters.areaPublisherDeviceCollection.meta ? this.$store.getters.areaPublisherDeviceCollection.meta.total : 0

        return this.$store.getters.areaPublisherDeviceCollection.data ? this.$store.getters.areaPublisherDeviceCollection.data : []
      }
    },
    methods: {
      fetchItems (search) {
        this.loading = true
        const getParams = '?' + (this.pagination.sortBy ? '&sortBy=' + this.pagination.sortBy : '') + (this.pagination.descending ? '&descending=' + this.pagination.descending : '') + '&page=' + this.pagination.page + '&rowPerPage=' + this.pagination.rowsPerPage + (search ? '&search=' + search : '')

        this.$store.dispatch('fetchAreaPublisherDeviceCollection', {areaId: this.areaId, getParams: getParams})
      },
      newItem () {
        this.item = {}
      },
      editItem (itemId) {
        this.dialog = true

        if (this.item.id !== itemId) {
          this.dialogLoading = true
          const url = appConfig.URL.device + '/' + itemId + '/edit'

          this.$http.get(url).then((response) => {
            this.dialogLoading = false
            this.item = response.data.data
          }, () => {
            this.dialog = false
            this.dialogLoading = false
          })
        }
      },
      saveItem () {
        let url = ''
        this.dialogLoading = true

        if (this.item.id) {
          url = appConfig.URL.device + '/' + this.item.id

          this.$http.put(url, this.item).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.$store.dispatch('alert', {message: 'Successfully Save Device', type: 'success', timeout: 4000})
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        } else {
          url = appConfig.URL.areaDevice + '/' + this.areaId

          this.$http.post(url, this.item).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        }
      },
      deleteItem (itemId) {
        if (confirm('Do you want delete') === true) {
          const url = appConfig.URL.device + '/' + itemId
          this.loading = true

          this.$http.delete(url, this.areaDeviceGroup).then(() => {
            this.fetchItems(this.search)
          }, () => {
            this.loading = false
          })
        }
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.fetchItems()
      })
    }
  }
</script>
