<template>
    <v-card>
      <v-card-title class="grey lighten-4">
        <v-icon>settings_applications</v-icon>
        <span class="ml-2 font-size-title">Device Action List</span>
      </v-card-title>
      <v-card-text>

        <v-card-title>
          <!-- DIALOG FOR CREATE/UPDATE DEVICE ACTION -->
          <v-dialog v-model="dialog" persistent width="70%">
            <v-btn slot="activator" class="white--text light-green darken-2" @click.native="newItem">
              Add new Configuration
            </v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Configuration Device Action</span>
              </v-card-title>

              <v-card-text>
                <v-flex v-show="dialogLoading" xs4 offset-xs4 justify-center="true" class="text-xs-center">
                  <v-progress-circular indeterminate v-bind:size="70" v-bind:width="7" class="green--text"></v-progress-circular>
                </v-flex>

                <v-container grid-list-xs >
                  <v-layout row wrap v-show="!dialogLoading">
                    <v-flex xs12 sm6 md4>
                      <v-select
                        required
                        label="Select Subject Type"
                        v-model="item.entity_type"
                        :items="[
                          {text: 'Device Worker', value: 'device'}
                        ]"
                      ></v-select>
                    </v-flex>

                    <v-flex xs12 sm6 md4 v-show="item.entity_type == 'device'">
                      <v-select
                        required
                        autocomplete
                        clearable
                        label="Select Subject"
                        v-model="item.entity_id"
                        v-bind:items="subjectTypeDeviceWorker"
                        item-value="id"
                        item-text="name"
                      ></v-select>
                    </v-flex>

                    <v-flex xs12 sm6 md4 v-show="(item.entity_type && (subjectTypeDeviceWorker.length || subjectTypeDeviceGroupWorker.length))? true: false">
                      <v-select
                        required
                        label="Action"
                        v-model="item.action['turn_on']"
                        :items="[
                          {text: 'On', value: 'true'},
                          {text: 'Off', value: 'false'}
                        ]"
                      ></v-select>
                    </v-flex>
                  </v-layout>

                  <v-layout wrap row v-show="(item.entity_type && item.entity_id && item.action['turn_on'])">
                    <v-flex xs12>
                      <v-text-field
                              label="Configure Action Name"
                              v-model="item.name"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>

                  <v-btn
                      v-show="(item.entity_type && item.entity_id && item.action['turn_on'])"
                      class="white--text light-green darken-2 mb-2"
                      block
                      @click.native="addRule"
                  >
                    Add new Rule
                  </v-btn>

                  <v-divider v-show="(item.entity_type && item.entity_id && item.action['turn_on'])"></v-divider>
                    <v-card class="mt-2 grey lighten-3"  v-for="(rule, index) in item.rules" :key="index">

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn icon @click.native="removeRule(index)">
                          <v-icon>close</v-icon>
                        </v-btn>
                      </v-card-actions>

                      <v-card-text>
                        <v-layout wrap row>
                          <v-flex xs12>
                            <v-layout wrap row>
                              <v-select
                                required
                                label="Select Configuration Type"
                                v-model="rule['type']"
                                :items="[
                                  {text: 'Time', value: 'time'},
                                  {text: 'Device Publisher', value: 'device-publisher'}
                                ]"
                              ></v-select>
                            </v-layout>

                            <v-layout wrap row>
                              <v-flex xs12>

                                <aria-config-action-rule-time
                                        v-show="(rule['type'] == 'time')"
                                        :date.sync="rule['date']"
                                        :time.sync="rule['time']"
                                        :repeat.sync="rule['repeat']"
                                ></aria-config-action-rule-time>

                                <aria-config-action-rule-publisher-device
                                        v-show="(rule['type'] == 'device-publisher')"
                                        :devices="subjectTypeDevicePublisher"
                                        :device-id.sync="rule['device_id']"
                                        :conditional-operator.sync="rule['conditional_operator']"
                                        :value.sync="rule['value']"
                                ></aria-config-action-rule-publisher-device>

                              </v-flex>
                            </v-layout>

                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>

                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn class="blue--text darken-1" flat @click.native="saveItem">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- END DIALOG -->

          <v-spacer></v-spacer>
          <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
          ></v-text-field>
        </v-card-title>

        <v-data-table
                v-bind:headers="headers"
                v-bind:items="items"
                v-bind:pagination.sync="pagination"
                :total-items="totalItems"
                :loading="loading"
                class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>

          <template slot="items" scope="props">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.action.turn_on }}</td>
            <td class="text-xs-left">{{ props.item.applied | timeZoneTime }}</td>
            <td class="text-xs-left">
              <v-btn small icon class="white--text light-green darken-2" @click.native="editItem(props.item.id)" v-tooltip:top="{ html: 'Edit' }">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small icon @click.native="deleteItem(props.item.id)" class="white--text light-green darken-2" v-tooltip:top="{ html: 'Delete' }">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>

      </v-card-text>
    </v-card>
</template>

<script>
  import _ from 'lodash'
  import {appConfig} from '../../../../config/app'
  import {timeZoneTime} from '../../../lib/filters'
  import VCardTitle from 'vuetify/src/components/VCard/VCardTitle'

  const subjectTypeDeviceWorker = 'device'
  const subjectTypeDeviceGroupWorker = 'device-group'

  export default {
    components: {VCardTitle},
    props: {
      areaId: {
        type: Number,
        required: true
      },
      routeName: {
        type: String,
        required: true
      }
    },
    filters: {
      timeZoneTime: timeZoneTime
    },
    data () {
      return {
        search: null,
        dialog: false,
        dialogLoading: false,
        loading: true,
        totalItems: 0,
        pagination: {rowsPerPage: 25, search: ''},
        headers: [
          {text: 'Name', align: 'left', value: 'name'},
          {text: 'Turn On', align: 'left', value: 'turn_on', sortable: false},
          {text: 'Applied', align: 'left', value: 'applied'},
          { text: 'Actions', align: 'left', value: 'actions', sortable: false }
        ],
        item: {
          id: null,
          entity_type: null,
          entity_id: null,
          name: null,
          rules: [],
          action: {}
        },
        subjectTypeDeviceWorker: [],
        subjectTypeDevicePublisher: [],
        subjectTypeDeviceGroupWorker: []
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === this.routeName) {
          this.fetchItems()
        }
      },
      pagination: {
        handler: function (newVal, oldVal) {
          if (oldVal.totalItems || oldVal.totalItems <= 0) {
            this.fetchItems()
          }
        },
        deep: true
      },
      search: _.debounce(function (newVal) {
        this.fetchItems(newVal)
      }, 400),
      item: {
        handler: function () {
        },
        deep: true
      }
    },
    computed: {
      items: function () {
        this.loading = false
        this.totalItems = 0
        this.totalItems = this.$store.getters.areaConfigureActionCollection.meta ? this.$store.getters.areaConfigureActionCollection.meta.total : 0

        return this.$store.getters.areaConfigureActionCollection.data ? this.$store.getters.areaConfigureActionCollection.data : []
      }
    },
    methods: {
      newItem () {
        this.item = {
          id: null,
          entity_type: null,
          entity_id: null,
          name: null,
          rules: [],
          action: {}
        }
      },
      fetchItems (search) {
        this.loading = true
        const getParams = '?' + (this.pagination.sortBy ? '&sortBy=' + this.pagination.sortBy : '') + (this.pagination.descending ? '&descending=' + this.pagination.descending : '') + '&page=' + this.pagination.page + '&limit=' + this.pagination.rowsPerPage + (search ? '&search=' + search : '')

        this.$store.dispatch('fetchAreaConfigureActionCollection', {areaId: this.areaId, getParams: getParams})
      },
      editItem (itemId) {
        this.dialog = true

        if (this.item.id !== itemId) {
          this.dialogLoading = true
          const url = appConfig.URL.configureAction + '/' + itemId + '/edit'

          this.$http.get(url).then((response) => {
            this.dialogLoading = false
            this.item = response.data.data
            this.fetchSubjects()
          }, () => {
            this.dialog = false
            this.dialogLoading = false
          })
        }
      },
      saveItem () {
        let url = null
        this.dialogLoading = true

        if (this.item.id) {
          url = appConfig.URL.configureAction + '/' + this.item.id

          this.$http.put(url, this.item).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.$store.dispatch('alert', {message: 'Successfully Save Configuration Action', type: 'success', timeout: 4000})
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        } else {
          url = appConfig.URL.areaConfigureAction + '/' + this.areaId

          this.$http.post(url, this.item).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        }
      },

      deleteItem (itemId) {
        if (confirm('Do you want delete') === true) {
          const url = appConfig.URL.configureAction + '/' + itemId
          this.loading = true

          this.$http.delete(url, this.areaDeviceGroup).then(() => {
            this.fetchItems(this.search)
          }, () => {
            this.loading = false
          })
        }
      },

      fetchSubjects () {
        switch (this.item.entity_type) {
          case subjectTypeDeviceWorker:
            this.fetchDeviceWorker()
            break

          case subjectTypeDeviceGroupWorker:
            break
        }
      },

      fetchDeviceWorker () {
        if (!this.subjectTypeDeviceWorker.length) {
          const url = appConfig.URL.areaDevice + '/worker/' + this.areaId + '?&limit=500'
          this.dialogLoading = true

          this.$http.get(url).then(response => {
            this.dialogLoading = false
            this.subjectTypeDeviceWorker = response.data.data
          }, () => {
            this.dialogLoading = false
          })
        }
      },

      fetchDevicePublisher () {
        if (!this.subjectTypeDevicePublisher.length) {
          const url = appConfig.URL.areaDevice + '/publisher/' + this.areaId + '?&limit=500'
          this.dialogLoading = true

          this.$http.get(url).then(response => {
            this.dialogLoading = false
            this.subjectTypeDevicePublisher = response.data.data
          }, () => {
            this.dialogLoading = false
          })
        }
      },

      addRule () {
        this.item.rules.push({})
      },
      removeRule (index) {
        this.item.rules.splice(index, 1)
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.fetchItems()
        this.fetchDeviceWorker()
        this.fetchDevicePublisher()
      })
    }
  }
</script>
