<template>
  <v-app>
    <v-navigation-drawer
      persistent
      dark
      overflow
      :mini-variant="mini"
      v-model="authUser.authenticated"
    >
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <img src="https://randomuser.me/api/portraits/men/85.jpg" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>John Leider</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" router exact :to="item.route">
          <v-list-tile-action>
            <div v-tooltip:top="{ html: item.title }">
              <v-icon>{{ item.icon }}</v-icon>
            </div>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense v-if="authUser.role === 'admin'">
        <v-list-tile router exact :to="{name: 'userList'}">
          <v-list-tile-action>
            <div v-tooltip:top="{html:'User List'}">
              <v-icon>perm_identity</v-icon>
            </div>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>User List</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-list-tile router exact :to="{name: 'userEdit', params: {id: this.authUser.id}}">
          <v-list-tile-action>
            <div v-tooltip:top="{html:'My Areas'}">
              <v-icon>map</v-icon>
            </div>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>My Areas</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-list-tile @click.native="logout">
          <v-list-tile-action>
            <div v-tooltip:top="{html:'Logout'}">
              <v-icon>eject</v-icon>
            </div>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>


    <v-toolbar fixed class="green" dark>
      <v-toolbar-side-icon v-show="authUser.authenticated" @click.native.stop="mini = !mini"></v-toolbar-side-icon>
      <v-toolbar-title>H2M Green Grow Solution</v-toolbar-title>
      <v-spacer></v-spacer>


      <!-- Login Dialog-->
      <v-dialog v-model="authDialog" width="600">
        <v-btn v-show="!authUser.authenticated" icon dark  slot="activator" v-tooltip:bottom="{ html: 'Login' }">
          <v-icon>account_circle</v-icon>
        </v-btn>

        <v-card v-on:keyup.enter="login">
          <v-card-title primary-title >
            <h3 class="headline mb-0">Login</h3>
          </v-card-title>
          <v-card-text>
            <v-alert wrap error dismissible v-bind:value="loginUserData.alert">
              {{ loginUserData.alert }}
            </v-alert>
          </v-card-text>
          <v-card-text>

            <v-text-field
              label="Email"
              v-model="loginUserData.email"
              hint="Enter your email"
              prepend-icon="email"
            ></v-text-field>

            <v-text-field
              label="Password"
              v-model="loginUserData.password"
              type="password"
              hint="Enter your password"
              prepend-icon="lock"
            ></v-text-field>
          </v-card-text>

          <v-card-actions>
            <v-btn class="blue--text darken-1" flat @click.native="authDialog = false">Close</v-btn>
            <v-btn class="blue--text darken-1" flat @click.native="login()">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>

    <main>
      <v-container fluid grid-list-md>
        <v-progress-linear height="4" v-bind:indeterminate="progressBar" v-show="progressBar"></v-progress-linear>

        <!-- Alerts -->
        <v-layout row wrap class="mb-3">
          <v-flex xs12>
            <v-alert success dismissible v-for="(alert, index) in alerts.success" v-model="alerts.success[index]" :key="index" v-bind:value="alert">
              {{ alert }}
            </v-alert>

            <v-alert info dismissible v-for="(alert, index) in alerts.info" v-model="alerts.info[index]" :key="index" v-bind:value="alert">
              {{ alert }}
            </v-alert>

            <v-alert warning dismissible v-for="(alert, index) in alerts.warning" v-model="alerts.warning[index]" :key="index" v-bind:value="alert">
              {{ alert }}
            </v-alert>

            <v-alert error dismissible v-for="(alert, index) in alerts.danger" v-model="alerts.danger[index]" :key="index" v-bind:value="alert">
              {{ alert }}
            </v-alert>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <transition>
              <keep-alive>
                <router-view></router-view>
              </keep-alive>
            </transition>
          </v-flex>
        </v-layout>

      </v-container>
    </main>

  </v-app>
</template>

<script>
  import authLib from './lib/auth'

  export default {
    data () {
      return {
        items: [],
        mini: true,
        right: true,
        authDialog: false,
        loginUserData: {
          email: '',
          password: '',
          alert: ''
        }
      }
    },
    computed: {
      alerts () {
        return this.$store.getters.alerts
      },

      authUser () {
        return this.$store.getters.authUser
      },
      progressBar () {
        return this.$store.getters.progressBar
      }
    },
    created () {
      this.items = [
        { title: 'Home', icon: 'home', route: {name: 'Hello'} }
      ]
    },
    methods: {
      login () {
        this.$store.dispatch('progressBar', true)

        authLib.login(this, this.loginUserData, callback => {
          if (callback.status === 200) {
            this.authDialog = false
            this.$store.dispatch('progressBar', false)
          } else {
            this.loginUserData.alert = callback.data.error
            this.$store.dispatch('progressBar', false)
          }
        })
      },

      logout () {
        authLib.logout(this)
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>

<style lang="stylus">
  @import './stylus/app.styl'
</style>
